
.site-main p {
  line-height: 24px;
  font-size: 20px;
  margin-top: 20px;
}

.site-main h2 {
  font-size: 24px;
}

.site-main {
  padding-bottom: 50px;
}

figcaption {
  text-align: center;
}